$grid-columns: 12;
$grid-breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
);
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
);

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@each $name, $breakpoints in $grid-breakpoints {
    @media screen and (min-width: $breakpoints) {
        .container {
            max-width: map-get($container-max-widths, $name);
        }
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    background-color: rgba(#4a86e9, 0.2);
    border: 1px solid #4a86e9;
    padding: 15px;
}

@for $i from 1 through 12 {
    .col-#{$i} {
        max-width: calc(100% * (#{$i} / #{$grid-columns}));
        flex: 0 0 calc(100% * (#{$i} / #{$grid-columns}));
    }
}

@each $name, $breakpoints in $grid-breakpoints {
    @media screen and (min-width: $breakpoints) {
        @for $i from 1 through 12 {
            .col-#{$name}-#{$i} {
                max-width: calc(100% * (#{$i} / #{$grid-columns}));
                flex: 0 0 calc(100% * (#{$i} / #{$grid-columns}));
            }
        }
    }
}
